@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Cardo|PT+Serif|Sumana|Amiri');


body {
  background-color: #000000;
  color: #e8e8e8;
  font-family: 'Raleway', sans-serif;
}

header {
	background-color: #1f1f21;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1	{
	font-family: 'Raleway', sans-serif;
	font-size: 250%;
	font-weight: 800
}
h2 {
	font-family: 'Cardo', sans-serif;
	font-size: larger;

}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 200%;
	color: #e8e8e8;
	font-weight: 700;
	padding-left: 50px;

}
p {
	font-family: 'Cardo', sans-serif;
	margin: 0 auto
	max-width: 600px;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: larger;
}