
        .container{
          width: 100%;
          background: #000000;
        }

        .logo{
        float:left;
        width:6%;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #000000;
          position: sticky;
          margin-top:0;
          float:center;
        }

        li {
          float: left;
        }

        li a {
          font-family:arial;
          font-size:12px;
          display: block;
          color: white;
          padding: 16px 20px;
          text-decoration: none;
          text-transform: uppercase;
        }

        li.basic{
        padding-left: 36%;
        }

        li.social{
        float:right;
        }

        li a:hover {
          background-color: #4E4E4E;
        }

        .active {
          background-color: #4CAF50;
        }

        nav{
          position:sticky;
        }
