@import url("//hello.myfonts.net/count/393dcf");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Cardo|PT+Serif|Sumana|Amiri");

@font-face {
  font-family: "CaeciliaLTPro-76BoldItalic";
  src: url("../fonts/webfonts/393DCF_0_0.eot");
  src: url("../fonts/webfonts/393DCF_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/393DCF_0_0.woff2") format("woff2"), url("../fonts/webfonts/393DCF_0_0.woff") format("woff"), url("../fonts/webfonts/393DCF_0_0.ttf") format("truetype");
}

@font-face {
  font-family: "CaeciliaLTPro-55Roman";
  src: url("../fonts/webfonts/393DCF_1_0.eot");
  src: url("../fonts/webfonts/393DCF_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/393DCF_1_0.woff2") format("woff2"), url("../fonts/webfonts/393DCF_1_0.woff") format("woff"), url("../fonts/webfonts/393DCF_1_0.ttf") format("truetype");
}

@font-face {
  font-family: "CaeciliaLTPro-56Italic";
  src: url("../fonts/webfonts/393DCF_2_0.eot");
  src: url("../fonts/webfonts/393DCF_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/393DCF_2_0.woff2") format("woff2"), url("../fonts/webfonts/393DCF_2_0.woff") format("woff"), url("../fonts/webfonts/393DCF_2_0.ttf") format("truetype");
}

@font-face {
  font-family: "CaeciliaLTPro-46LightItalic";
  src: url("../fonts/webfonts/393DCF_3_0.eot");
  src: url("../fonts/webfonts/393DCF_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/393DCF_3_0.woff2") format("woff2"), url("../fonts/webfonts/393DCF_3_0.woff") format("woff"), url("../fonts/webfonts/393DCF_3_0.ttf") format("truetype");
}

@font-face {
  font-family: "CaeciliaLTPro-45Light";
  src: url("../fonts/webfonts/393DCF_4_0.eot");
  src: url("../fonts/webfonts/393DCF_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/393DCF_4_0.woff2") format("woff2"), url("../fonts/webfonts/393DCF_4_0.woff") format("woff"), url("../fonts/webfonts/393DCF_4_0.ttf") format("truetype");
}

@font-face {
  font-family: "CaeciliaLTPro-75Bold";
  src: url("../fonts/webfonts/393DCF_5_0.eot");
  src: url("../fonts/webfonts/393DCF_5_0.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/393DCF_5_0.woff2") format("woff2"), url("../fonts/webfonts/393DCF_5_0.woff") format("woff"), url("../fonts/webfonts/393DCF_5_0.ttf") format("truetype");
}

@font-face {
  font-family: "CaeciliaLTPro-85Heavy";
  src: url("../fonts/webfonts/393DCF_6_0.eot");
  src: url("../fonts/webfonts/393DCF_6_0.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/393DCF_6_0.woff2") format("woff2"), url("../fonts/webfonts/393DCF_6_0.woff") format("woff"), url("../fonts/webfonts/393DCF_6_0.ttf") format("truetype");
}

@font-face {
  font-family: "CaeciliaLTPro-86HeavyItalic";
  src: url("../fonts/webfonts/393DCF_7_0.eot");
  src: url("../fonts/webfonts/393DCF_7_0.eot?#iefix") format("embedded-opentype"), url("../fonts/webfonts/393DCF_7_0.woff2") format("woff2"), url("../fonts/webfonts/393DCF_7_0.woff") format("woff"), url("../fonts/webfonts/393DCF_7_0.ttf") format("truetype");
}

.container {
  width: 100%;
  background: #000;
}

.logo {
  float: left;
  width: 6%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  position: sticky;
  margin-top: 0;
  float: center;
}

li {
  float: left;
}

li a {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  display: block;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

li.basic {
  padding-left: 36%;
}

li.social {
  float: right;
}

li a:hover {
  background-color: #4e4e4e;
}

.active {
  background-color: #4caf50;
}

nav {
  position: sticky;
}

body {
  background-color: #000;
  color: #e8e8e8;
  font-family: "Raleway", sans-serif;
}

header {
  background-color: #1f1f21;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 250%;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 200%;
  color: #e8e8e8;
  font-weight: 700;
  padding-left: 50px;
}

h4 {
  font-family: "CaeciliaLTPro-55Roman", serif;
  font-size: 180%;
  font-weight: 400;
}

p {
  font-family: "CaeciliaLTPro-55Roman", serif;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: medium;
}

/* STYLES ABOUT PAGE */

#about-title {
  text-align: center;
  height: 150px;
  width: 100%;
}

#about-description {
  background-color: #041e42;
  padding: 20px;
  line-height: 1.5em;
  text-align: left;
}

#about-body {
  padding: 20px;
}

.team-member {
  width: 20%;
  float: left;
  text-align: center;
  margin-right: 5%;
  font-family: "CaeciliaLTPro-55Roman", serif;
  padding-bottom: 5em;
}

.team-member h3 {
  max-width: 200px;
  letter-spacing: -1px;
  color: #f12224;
  font-family: raleway, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
}

.team-photo {
  border-radius: 50%;
  text-align: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  transition: 0.1s transform ease-in-out;
}

/* STYLES FOR STORIES PAGES */

/* STYLES FOR TIMELINE */

.tl-entries {
  width: calc(100% - 80px);
  max-width: 800px;
  margin: auto;
  position: relative;
  left: -5px;
}

.tl-entry {
  width: calc(50% - 80px);
  float: left;
  padding: 20px;
  clear: both;
  text-align: right;
}

.tl-title {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  margin-bottom: 12px;
  position: relative;
  color: #f15524;
}
